.btn{
    width: 180px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #4CBB17;
    box-shadow: 4px 7px 7px #00000051;
    color: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn .fa-location-crosshairs{
    font-size: 25px;
    color: #000000;
}
.btn:hover{
    transition: .2s;
    opacity: .5;
}